*$py.class
*.egg
*.egg-info/
*.iws
*.log
*.manifest
*.mo
*.pot
*.py[cod]
*.so
*.spec
.cache
.eggs/
.env
.idea/
.idea_modules/
.installed.cfg
.pytest_cache/
.Python
.spyproject
.tox/
.venv
[Bb]in
[Ll]ib
[Ll]ib64
[Ll]ocal
__pycache__/
build/
develop-eggs/
dist/
dmypy.json
docs/_build/
eggs/
env/
ENV/
htmlcov/
out/
pip-delete-this-directory.txt
pip-log.txt
pip-selfcheck.json
pip-wheel-metadata
pip-wheel-metadata/
pyvenv.cfg
share/python-wheels/
target/
venv.bak/
venv/
wheels/